#code-title {

    /* temp bar for placement visuals */
    border: 1px solid black;

    /* text */
    font-size: 2.0rem;

    /* position */
    margin: 30px 0px 0px 0px;

}

#code {

    /* position */ 
    margin: 20px 0px 0px 0px;

    /* text */
    font-size: 2.7rem;
    font-weight: bold;

}

#players-title {

    /* text */
    font-size: 1.4rem;
    font-weight: bold;

    /* position */
    margin: 0px 0px 10px 0px;

}

.player {

    /* text */
    font-size: 1.2rem;

}