#code-title {

    /* temp bar for placement visuals */
    border: 1px solid black;

    /* text */
    font-size: 2.0rem;

    /* position */
    margin: 30px 0px 0px 0px;

}

#code {

    /* position */ 
    margin: 20px 0px 0px 0px;

    /* text */
    font-size: 2.7rem;
    font-weight: bold;

}

#players-title {

    /* text */
    font-size: 1.4rem;
    font-weight: bold;

    /* position */
    margin: 0px 0px 10px 0px;

}

.player {

    /* text */
    font-size: 1.2rem;

}

#ready-button {

    /* scaling */
    height: 40px;
    width: 75px;

    /* text */
    font-size: 1.3rem;
    color: white;

    /* border */
    border: 2px solid #073b4c;
    border-radius: 10px;

    /* background */
    background-color: #073b4c;

    /* position */
    margin: 200px 0px 0px 0px;

    /* transition */
    transition-duration: 0.3s;

}

#ready-button:hover {

    transform: scale(1.1);

}